body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.activity-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.activity-form input,
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333; 
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.activity-form input::placeholder {
  color: #888;
}

button {
  background-color: #333;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

.heading{
  text-align: center;
}

.task-item {
  background: #1e1e1e;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  max-width: 400px;
}

.date-btn {
  height: 50px;
  width: 50px;
  margin: 2px;
  padding: 5px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.date-btn.completed {
  background-color: #4caf50;
  color: white;
}

.date-btn:hover {
  background-color: #555;
}

.task-list{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.sub-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 768px) {
  .App {
    padding: 15px;
  }

  .activity-form input,
  button {
    flex: 1 1 100%; 
    max-width: 100%;
  }

  .task-item {
    flex: 1 1 100%; 
    max-width: 100%;
  }

  .task-list {
    flex-direction: column; 
  }

  .sub-heading {
    flex-wrap: wrap;
  }

  .date-btn {
    height: 40px;
    width: 40px;
    font-size: 12px; 
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 18px; 
  }

  button {
    padding: 8px;
  }

  .date-btn {
    height: 35px;
    width: 35px;
    font-size: 10px;
  }
  .activity-form{
    flex-wrap: wrap;
  }
}